[ req ]
prompt = no
default_bits = 4096
default_md = sha1
distinguished_name = ca_dn
# We can define extensions in the request because we will use the -x509 option.
x509_extensions = ca_exts

[ ca_dn ]
C = FR
O = Gouvernement
OU = Magda
CN = Autorité de certification racine Test 

[ ca_exts ]
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid:always,issuer:always
basicConstraints = critical, CA:true,pathlen:0
keyUsage = cRLSign, keyCertSign

[ server_exts ]
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid:always,issuer:always
basicConstraints = critical, CA:false
keyUsage = digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = DNS:$ENV::SERVERNAME, email:root@diogene.jeremie.int

[ client_exts ]
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid:always,issuer:always
basicConstraints = critical, CA:false
keyUsage = digitalSignature
extendedKeyUsage = clientAuth
subjectAltName = DNS:$ENV::CLIENTNAME, email:root@diogene.jeremie.int

[ user_auth_exts ]
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid:always,issuer:always
basicConstraints = critical, CA:false
keyUsage = digitalSignature
extendedKeyUsage = clientAuth
subjectAltName = email:$ENV::USERMAIL

[ user_crypt_exts ]
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid:always,issuer:always
basicConstraints = critical, CA:false
keyUsage = keyEncipherment
extendedKeyUsage = emailProtection
subjectAltName = email:$ENV::USERMAIL

[ user_sign_exts ]
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid:always,issuer:always
basicConstraints = critical, CA:false
keyUsage = nonRepudiation, digitalSignature
extendedKeyUsage = emailProtection
subjectAltName = email:$ENV::USERMAIL
